.main {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--dark);
  height: 100%;
}

.coverContainer {
  width: fit-content;
  height: fit-content;
  position: relative;
}

.coverContainer::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: linea;
  background-image: linear-gradient(180deg, transparent, #2A273850 99%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.cover {
  width: 100%;
  height: auto;
  border-radius: 0 0 60px 60px;
  object-fit: cover;
  position: relative;
  top: -30px;
  margin-bottom: -20px;
}

.information {
  display: flex;
  flex-direction: column;
  position: relative;
  color: white;
  padding: 0 30px;
}

.bookmarkPosition {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 100%;
  padding: 15px;
  background-color: #ffffff60;
  border: none;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  top: -35px;
  left: 65vw;
  backdrop-filter: blur(5px);
  margin-bottom: -50px;
  transition: background-color 0.3s;
}

.bookmarkPosition:hover, .bookmarkPosition:focus, .bookmarkPosition:active {
  background-color: #ffffff80;
}

.title {
  font-size: 2.5rem;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  margin: 0;
  width: 75%;
  line-height: 2.7rem;
}

.author {
  font-size: 1.2rem;
  margin: 0;
  font-weight: 400;
}

.rating {
  display: flex;
  align-items: center;
  gap: 6px;
}

.rating svg {
  width: 20px;
  height: 20px;
  stroke-width: 1px;
  color: gold;
  position: relative;
  bottom: 2px;
}

.ratingSource {
  color: var(--off-light);
  font-weight: 500;
  margin-left: 6px;
  display: flex;
  align-items: center;
}

.ratingSource::before {
  content: '';
  display: block;
  width: 2px;
  height: 2px;
  background-color: var(--off-light);
  position: relative;
  right: 6px;
}

.seeReviews {
  width: 100%;
  padding: 10px 0;
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
  background-image: linear-gradient(200deg, var(--off-highlight), var(--highlight));
  border: none;
  border-radius: 30px;
  margin-top: 10px;
}