:root {
  /* variables */
  --dark: #0F0B20;
  --off-dark: #2A2738;
  --light: #FFFFFF;
  --off-light: #837F91;
  --highlight: #9055A2;
  --off-highlight: #5B407C;
  --gold: gold;
}

*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  font-family: 'montserrat', sans-serif;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  margin: 0 !important;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}